  .container {
    max-width: 960px;
  }
  main {
    min-height: calc(100vh - 215px);
  }

  .cont {
    overflow: auto;
    height: 200px;
  }

  li {
    border: 1px solid #ced4da;
    padding: 10px;
    margin: 3px 0;
    border-radius: 5px;
    position: relative;
  }